@model Client.Models.BookModel

@{
    ViewData["Title"] = "Get Book";
}

<h2>Book Details</h2>

<div>
    <h3>Details for the book</h3>
    <p><strong>Title:</strong> @Model.Title</p>
    <p><strong>Author:</strong> @Model.Author</p>
    <p><strong>Price:</strong> @Model.Price?.ToString("C")</p> <!-- Formatiranje cene u lokalnu valutu -->
    <p><strong>Quantity:</strong> @Model.Quantity</p>
</div>

<div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Back to Home</a>
</div>
