@{
    ViewData["Title"] = "Bank_BookStore";
}

<div class="text-center">
    <h1 class="display-4">Welcome Client on Bank and Bookstore aplication!</h1>
    <p>Manage  with all books in BookStore and  with Banks Clients accounts with ease</p>
    <p>Create your own transactions and buy book with safe online money transfer! Menage yours transactions EasY with RollBAck, Commit and Preapre Options!</p>

   
</div>